<!-- position: relative; top: 199px; height: 50%; width: 100%;  -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<footer style="margin-top: 30px; padding-top: 10px;" class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s10">
          <h5 class="white-text"><strong style="font-size: 1.5em;">SparkPay</strong></h5>
          <p class="grey-text text-lighten-4">Ensuring Privacy, Safety and Security for each of your penny.</p>
        </div>
        <div style="text-align: center;" class="col l4 offset-l2 s12">
          <h5 style="padding: 0" class="white-text">Social Links</h5>
          <ul style="display: inline-flex;">
            <li style="padding: 0 9px;"><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/hrithik.reddy.338"><i class="material-icons">facebook</i></a></li>
            <li style="padding: 0 9px;"><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/hrithik_reddy_45/"><i class="material-icons">add_a_photo</i></a></li>
            <li style="padding: 0 9px;"><a class="grey-text text-lighten-3" target="_blank" href="https://www.twitter.com/hrithikreddy045/"><i class="material-icons">chat</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="center footer-copyright">
        <div class="container">
            2021 © SparkPay&#8482; Ltd. All rights reserved.
        </div>
    </div>
</footer>