<nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><strong>SparkPay</strong></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/customers">Customers</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="tel:9381314137">Contact</a></li>
      </ul>
    </div>
</nav>