<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>SparkPay | About Us</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div style="font-size: 1.2em;" class="container">
        <h3 class="center">About Us</h3>
        <p>SparkPay is a website designed by Kamaneeya Kadari to provide a Simple User Interface of a Basic Banking System for SparkBank. This website allows the user to view the Customers List of the SparkBank and view their details. In addition, the user can also perform money transfers between multiple users. This website also provides the feature to check the Transaction History by navigating to the "Transactions" Page.</p>
        <div style="display: inline-flex;">
            <img src="https://www.thesparksfoundationsingapore.org/images/logo_small.png" />
            <div style="margin-left: 12px;">
                <h5>About TSF</h5>
                <p> &emsp; &emsp;  This website 'SparkPay' was developed as a part of "Team Project" . TSF is a Non-for-Profit Organisation which provides a lot of opportunities to Graduated and Under-Graduate Students by offering Internships & Job Opportunities.</p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
