<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>About Page</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div style="font-size: 1.2em;" class="container">
        <h3 class="center">About Us</h3>
        <p>SparkPay is a website designed by Mr. Kandewar Hrithik Reddy to provide a Simple User Interface of a Basic Banking System for SparkBank. This website allows the user to view the Customers List of the SparkBank and view their details. In addition, the user can also perform money transfers between multiple users. This website also provides the feature to check the Transaction History by navigating to the "Transactions" Page.</p>
        <p>This website 'SparkPay' was developed as a part of "Graduate Rotational Internship Program (GRIP)" conducted by "The Sparks Foundation" (TSF). TSF is a Non-for-Profit Organisation which provides a lot of opportunities to Graduated and Under-Graduate Students by offering Internships & Job Opportunities.</p>
    </div>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>