<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Customers Page</title>
</head>
<body>
    
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Customer Details</h4>
        <div>
            <h5>Bank ID : 98741368412460</h5>
            <h5>Name    : Hrithik Reddy</h5>
            <h5>email   : hrithikreddykandi@gmail.com</h5>
            <h5>Balance : 45000</h5>
        </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <%- include('./partials/navbar.ejs') %>
    <h1 style="padding: 20px 10px; text-align: center;" class="container">Customers List</h1>
    <% if(customers.length > 0) { %>
        <% customers.forEach(customer => { %>
            <div class="container">
                <ul class="collection with-header">
                    <li class="collection-item">
                        <div>
                            <table>
                                <tr>
                                    <td class="container"><strong><%= customer.name %></strong></td>
                                    <td>
                                        <!-- Modal Trigger -->
                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">View</a>
                                    </td>
                                    <!-- <td><a data-target="modal1" class="modal-trigger waves-effect waves-light btn" href="#modal1">View</a></td> -->
                                    <td><a class="waves-effect waves-light btn" href="/transfer">Transfer</a></td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
    <% }); %>
    <% } else { %>
        <br>
        <ul class="container collection with-header">
            <li class="collection-item">There are no customers.</li>
        </ul>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
          });
    </script>

</body>
</html>