<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Home Page</title>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="center">
        <h3>Welcome to SparkPay!</h3>
        <img src="https://865cd2fc18498405a75a-f8cbe8cb758c89f0cd738fe08520ecb9.ssl.cf5.rackcdn.com/online-banking/banking-topics/wp-content/uploads/2017/10/Benefits-of-Online-Banking_1-INARTICLE-e1508422578905-730x318.jpg" />
        <div>
            <a style="margin: 20px; border-radius: 25px; background-color: #ee6e73;" class="waves-effect waves-light btn" href="/customers">View All Customers</a>
            <a style="margin: 20px; border-radius: 25px; background-color: #ee6e73;" class="waves-effect waves-light btn" href="/transactions">Transaction History</a>
        </div>
    </div>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>