<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Home Page</title>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="center">
        <h3>Welcome to SparkPay!</h3>
        <img style="border-radius: 10px; filter: opacity(85%);" width=450 src="https://www.nkgsb-bank.com/images/internet-banking-banner.jpg" />
        <div>
            <a style="margin: 20px; border-radius: 25px; background-color: #ee6e73;" class="waves-effect waves-light btn" href="/customers">View All Customers</a>
            <a style="margin: 20px; border-radius: 25px; background-color: #ee6e73;" class="waves-effect waves-light btn" href="/transactions">Transaction History</a>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>