<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Home Page</title>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="center container">
        <h1>Home Page</h1>
    </div>
</body>
</html>